@use '../common' as *;
@use '../themes/light/themes' as *;

$theme: $indigo;
$inset-shadow-width: #{rem(1px)};

:host {
    position: relative;
    display: inline-flex;
    flex: 1 0 0;
    align-items: center;
    padding: 0 $ig-cells-padding;
    color: inherit;
    border-right: rem(1px) solid transparent;
    font-size: rem(13px);
    overflow-wrap: anywhere;
	min-height: sizable(rem(32px), rem(40px), rem(48px));
	
	igc-avatar,
	igc-rating,
	igc-select,
	igc-input {
		--ig-size: var(--ig-size-small);
	}

    &:last-of-type {
        border-right: 0;
    }
	
	// input overrides
	igc-input::part(container) {
		--background: transparent;
	}
	
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		user-select: none;
	}
}

:host([active]) {
    outline: none;
	color: var-get($theme, 'cell-selected-text-color');
	background: var-get($theme, 'cell-selected-background');
	
	&::after {
		border: $inset-shadow-width solid var-get($theme, 'cell-active-border-color')
	}
}

:host(:last-child) {
    border-inline-end: none;
}

[part~='text'] {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

igc-input,
igc-select {
	width: 100%;

	&::part(helper-text),
	&::part(container) {
		&::after {
			display: none;
		}
	}
}
