@use "../../../../../node_modules/igniteui-theming/sass/color/functions" as *;
@use "../../../../../node_modules/igniteui-theming/sass/typography/functions" as *;

:host {
    // Grid body
    --content-background: #{color(null, gray, 50)};
    --content-text-color: #{contrast-color(null, gray, 50)};

    // Header row
    --header-background: #{color(null, surface, 500)};
    --header-text-color: #{contrast-color(null, surface, 500)};
    --header-border-color: #{color(null, gray, 100, 0.24)};

    // Header cell
    --sorted-header-icon-color: #{contrast-color(null, surface, 500)};

    // Body row
    --row-hover-background: #{color(null, gray, 200)};
    --row-even-background: #{color(null, gray, 100)};
    --row-even-text-color: #{contrast-color(null, gray, 100)};
    --row-odd-background: #{color(null, gray, 100)};
    --row-odd-text-color: #{contrast-color(null, gray, 100)};
    --row-border-color: #{color(null, gray, 50, 0.24)};

    // Body cell
    --cell-active-border-color: #{contrast-color(null, surface, 500)};

    // TODO: Common?
    // Header row
    --header-border-width: #{rem(1px)};
    --header-border-style: solid;
    --filtering-header-background: #{color(null, gray, 50)};

    // Filtering row
    --filtering-row-background: #{color(null, gray, 50)};
    --filtering-row-text-color: #{contrast-color(null, gray, 50)};

    // Icon color
    --icon-color: 'currentColor';

    // Body Row
    --row-hover-text-color: #{contrast-color(null, gray, 200)};
    --row-border-style: var(--header-border-style);
    --row-border-width: var(--header-border-width);

    // Body cell
    --grid-resize-line-color: #{color(null, primary, 500)};
}
