@use 'igniteui-theming/sass/themes' as *;
@use 'igniteui-theming/sass/utils' as *;
@use 'themes' as *;

$theme: $indigo;

:host {
	@include css-vars-from-theme(diff($base, $theme), 'igc-grid-lite');
}
