@use '../common' as *;
@use '../themes/light/themes' as *;

$theme: $material;

:host {
    display: grid;
    grid-row: header-row;
    min-height: $ig-cells-min-height;
    background: var-get($theme, 'header-background');
    color: var-get($theme, 'header-text-color');
    contain: content;
    border-block-end: var-get($theme, 'header-border-width') var-get($theme, 'header-border-style') var-get($theme, 'header-border-color');
    z-index: var(--z-index-base);
    padding-inline-end: var(--scrollbar-offset);
}

:host(:focus) {
    outline: none;
}

[part='filtered'] {
    background: var-get($theme, 'filtering-header-background');
}
