@use '../common' as *;
@use '../themes/light/themes' as *;

$theme: $material;
$filtering-row-background: var-get($theme, 'filtering-row-background');
$filtering-row-text-color: var-get($theme, 'filtering-row-text-color');
$border: var-get($theme, 'header-border-width') var-get($theme, 'header-border-style') var-get($theme, 'header-border-color');

:host {
    --ig-size: 1;

    display: grid;
    grid-row: filter-row;
    min-height: $ig-cells-min-height;
    background: var-get($theme, 'header-background');
    color: var-get($theme, 'header-text-color');
    border-block-end: $border;
    z-index: var(--z-index-base);
    padding-inline-end: var(--scrollbar-offset);
}

[part='filter-row-preview'] {
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: 0 $ig-cells-padding;
    background: $filtering-row-background;
    color: $filtering-row-text-color;
    border-inline-end: $border;
}

[part~='active-state'] {
    background: $filtering-row-background;
    color: $filtering-row-text-color;
    min-height: $ig-cells-min-height;
    min-width: 100%;
    display: flex;
    align-items: center;
    gap: rem(8px);
    position: relative;
    inset-block-start: rem(-1px);
}

[part='filter-row-preview']:last-of-type {
    border-inline-end: none;
}

[part~='filter-row-input'] {
    padding-inline-start: $ig-cells-padding;
}

[part~='filter-row-actions'] {
    padding-inline-end: $ig-cells-padding;
}

[part~='filter-row-input'],
[part~='filter-row-filters'],
[part~='filter-row-actions'] {
    display: flex;
    align-items: center;
}

[part~='filter-row-filters'] {
    flex: 1;
    overflow: hidden;
}

igc-input {
    &::part(container),
    &::part(input) {
        background: inherit;
        color: inherit;
    }
}
