@use 'igniteui-theming' as *;
@use '../../../themes/light/themes' as *;

$theme: $indigo;

:host {
	&:has([part~='active-state']) {
		box-shadow: 0 rem(-1px) rem(5px) 0 rgb(0 0 0 / 12%);
	}
	
	igc-chip {
		--ig-chip-size: #{sizable(rem(20px), rem(24px), rem(24px))};
	}
}

[part~='filter-row-input'] {
	igc-input {
		--size: #{sizable(rem(24px), rem(28px), rem(32px))};
	}
	
	igc-input [slot='prefix'] {
		padding-inline-start: sizable(rem(4px), rem(6px));
	}
	
	igc-input [slot='suffix'] {
		padding-inline-end: sizable(rem(4px), rem(6px));;
	}
}
