@use 'igniteui-theming' as *;
@use './filtering-row.common';

[part~='filter-row-input'] {
	igc-input {
		--ig-input-size: #{sizable(rem(24px), rem(32px), rem(42px))};
	}

  igc-input [slot="prefix"] {
		padding-inline-start: sizable(rem(4px), rem(6px));
	}

	igc-input [slot="suffix"] {
		padding-inline-end: sizable(rem(4px), rem(6px));
  }
}
