@use 'igniteui-theming/sass/themes/functions' as *;
@use 'igniteui-theming/sass/themes/schemas/components/dark/grid' as *;

$base: digest-schema($base-dark-grid);
$material: digest-schema($dark-material-grid);
$bootstrap: digest-schema($dark-bootstrap-grid);
$fluent: digest-schema($dark-fluent-grid);
$indigo: digest-schema($dark-indigo-grid);
