@use '../common' as *;
@use '../themes/light/themes' as *;

$theme: $material;

:host {
    display: grid;
    width: 100%;
    border-block-end: rem(1px) solid var-get($theme, 'row-border-color');
    background: var-get($theme, 'content-background');
    color: var-get($theme, 'row-odd-text-color');
    z-index: var(--z-index-base);
	min-height: var-get($theme, 'header-size');
}

:host(:last-of-type) {
    border-bottom: 0;
}

:host(:nth-of-type(odd)) {
	background: var-get($theme, 'row-odd-background');
	color: var-get($theme, 'row-odd-text-color');
}

:host(:nth-of-type(even)) {
    background: var-get($theme, 'row-even-background');
    color: var-get($theme, 'row-even-text-color');
}

:host(:hover) {
    background: var-get($theme, 'row-hover-background');
    color: var-get($theme, 'row-hover-text-color');
}
